// Colors Arrangement
$red1: #d71a21;
$dark-red1: #a9080d;
$light-red1: #f9f5f5;
$green1: #25a209;
$grey1: #cccccc;
$grey2: #f4f4f4;
$black1: #414142;
$black2: #666666;
$black3: #333333;
$white1: white;

// Base
$base-background-color: $white1;
$base-white: $white1;
$base-black: $black1;
$base-font-color: $black1;
$base-bold-color: $black2;
$base-green: $green1;
$base-border-color: $grey1;
$base-background-grey: $grey2;
$base-red: $red1;
$base-light-red: $light-red1;

// Typography
$base-font-size: 13px;
$h1-size: 24px;
$h2-size: 20px;
$font-semibold: 600;
$font-normal: 500;