{% extends "base.html" %}


{% block title %}Home{% endblock title %}


{% block content %}
    <div class="layout-header">
        <a href="{{ SITEURL }}"><img class="logo" src="{{ SITEURL }}/images/logo.png"/></a>
        <p><i>Just some notes lying around ... </i></p>
    </div>

    <div class="section-item">
        <div class="blog-archive">
            {% for article in articles_page.object_list %}
                <div class="blog-archive-item">
                    {{ article.locale_date }} - <a href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="section-item">
        <div class="footer">
            <div class="footer-item">
                - <a href="{{ SITEURL }}/resume/">Resume</a>
            </div>

            <div class="footer-item">
                - <a href="{{ GITHUB_URL }}">Github</a>
            </div>

            <div class="footer-item">
                - <a href="{{ BEHANCE_URL }}">Behance</a>
            </div>

            <div class="footer-item">
                - <a href="mailto:{{ EMAIL }}">Contact</a>
            </div>
        </div>
    </div>


{% endblock content %}
